.cardGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
}

.visited-flags-container img{
    width: 120px;
    margin-right: 20px;
    border: 2px solid gold;
    padding: 10px;

}